
<div class="sticky-md-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/account/home/">
                <img src="/static/appoint_app/images/appoint-master-logo.png" width="37" height="37"
                     alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#Home">Home</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link text-white active" href="#Services">Services</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link text-white active" href="#About">About Us</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link text-white active" href="#Help">Help</a>
                    </li>
                    <form class="d-flex mb-3 mt-2" role="search">
                        <input id="searchInput" class="form-control me-1 py-1" type="search" style="font-weight: 500;"
                               placeholder="Search"
                               aria-label="Search" oninput="toggleSearchButton()">
                        <button id="searchButton" class="btn btn-outline-light me-1 py-1" type="submit" disabled>
                            Search
                        </button>
                    </form>
                    <ul class="navbar-nav me-2 mb-2 mb-lg-0">
                        <li class="nav-item mx-2">
                            <a href="/account/login/" class="nav-link text-white">Login</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a href="/account/register-patient/" class="nav-link text-white">Register</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>
</div>
