<!DOCTYPE html>

<html lang="en">
<head>
    
    {% include 'includes/header_reference.html' %}
    
</head>

<body id="Home">

<!-- Navbar -->
{% include 'includes/navbar.html' %}
{#{% render_partial 'product:navbar' %}#}
<!-- End Navbar -->

{% block content %}


{% endblock %}

{#<section class="fullContainer" id="Help" style="margin-bottom: 5px; padding-bottom: 3px;">#}
{#    <div class="container">#}
{#        <h2 class="sectionTitle" style="color:#0536CE; font-weight:700; font-size: 30px;">Help and Support</h2>#}
{#        <p>Need any help with accessing the services offered by KUHC via Appoint Master? For any enquiries and#}
{#            complaints reach us via <b>eappointmaster@gmail.com</b>.</p>#}
{#        <p>For KUHC enquiries, see the details below:</p>#}
{#        <p>Contact by Phone:</p>#}
{#        <li>Main Campus 020-2503836</li>#}
{#        <li>Main Campus Ambulance 020-2503838</li>#}
{#        <li>Ruiru Campus Clinic 020-2503835</li>#}
{#        <li>Ruiru Campus Ambulance 020-2503833</li>#}
{#        <li>Parklands Campus Clinic 020-2503834</li>#}
{#        <li>Parklands Campus Ambulance 020-2503837</li>#}
{#        <p>Email KUHC: <a href="mailto:healthunit@ku.ac.ke">healthunit@ku.ac.ke</a></p>#}
{#        <p>Working Hours:</p>#}
{#        <p><b>Monday - Friday (08.30 - 17.00) GMT+2</b></p>#}
{#        <p>Reach on our social media platforms below:</p>#}
{##}
{#    </div>#}
{#</section>#}
{##}
{#<div class="container mb-5">#}
{#    <div class="row justify-content-around">#}
{#        <div class="col-auto">#}
{#            <p><a href="https://www.facebook.com/kenyattauni"><i class="fa-brands fa-facebook"#}
{#                                                                 style="color:rgb(23, 23, 255); font-size: 25px;"></i></a>#}
{#            </p>#}
{#        </div>#}
{#        <div class="col-auto">#}
{#            <p><a href="https://twitter.com/KenyattaUni"><i class="fa-brands fa-x-twitter"#}
{#                                                            style="color:rgb(0, 0, 0); font-size: 25px;"></i></a></p>#}
{#        </div>#}
{#        <div class="col-auto">#}
{#            <p><a href="https://www.ku.ac.ke/healthunit/"><i class="fa-solid fa-globe"#}
{#                                                             style="color:rgb(32, 138, 209); font-size: 25px;"></i></a>#}
{#            </p>#}
{#        </div>#}
{#        <div class="col-auto">#}
{#            <p><a href="https://www.pinterest.com/kenyattaunivers/"><i class="fa-brands fa-pinterest"#}
{#                                                                       style="color:rgb(255, 0, 55); font-size: 25px;"></i></a>#}
{#            </p>#}
{#        </div>#}
{#        <div class="col-auto">#}
{#            <p><a href="mailto:eappointmaster@gmail.com"><i class="fa-brands fa-google"#}
{#                                                            style="color:rgb(0, 0, 0); font-size: 25px;"></i></a></p>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{#<footer class="container-fluid bg-primary fixed-bottom text-white  text-bold text-center">#}
{#    <img src="/static/appoint_app/images/appoint-master-logo.png" width="30" height="30" alt="Logo"> ©#}
{#    2024 Appoint Master, KUHC#}
{#</footer>#}



<!-- Footer -->
{% include 'includes/footer.html' %}
<!-- End Footer -->


<!-- Footer References -->
{% include 'includes/footer_reference.html' %}
<!-- Footer References End -->


</body>
</html>